footer {
  color: white;
  background-color: $brown;
  a {
    color: white;
    opacity: 0.8;
  }
  a:hover {
    color: white;
    opacity: 1;
  }
}
.footer-container {
    width: 90vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include small-device {
      width: 100vw;
      grid-template-columns: 1fr;
    }
    @include medium-device {
      width: 100vw;
    }
}
.footer-column-one, .footer-column-two {
  margin: 1.5rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  @include small-device {
    margin-left: 2rem;
  }
}
.footer-column-one {
  align-items: flex-start;
  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  @include medium-device {
    align-items: center;
  }
}
.footer-column-two {
  align-items: flex-end;
  &__icons {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    a {
      font-size: 1.6rem;
      margin-left: 1rem;
    }
  }
  @include small-device {
    align-items: flex-start;
    &__icons {
      justify-content: flex-start;
      a {
        margin-right: 1rem;
        margin-left: 0;
      }
    }
  }
  @include medium-device {
    align-items: center;
    &__icons {
      justify-content: space-evenly;
      a {
        margin-left: 0;
      }
    }

  }

}
