// colors
$light-grey: #F6F6F6;
$brown: #C68B59;

// Import google fonts
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@400;700&family=Nunito+Sans:ital,wght@0,400;0,700;1,400&display=swap');
$title-font: 'Halant', serif;
$text-font: 'Nunito Sans', sans-serif;


